.DS_STORE
Code/Libraries/__pycache__/*
Code/node-red-data/*
Code/settings.json
Code/device_connector/__pycache__/*
Code/device_connector/Libraries/*
Code/device_connector/mqtt_settings.json
Code/camera/__pycache__/*
Code/camera/mqtt_settings.json
Code/secret_key.txt
Code/catalog/secret_key.txt
Code/reservation_manager/secret_key.txt

!Code/node-red-data/node-red-flow.json
