.DS_STORE
Code/Libraries/__pycache__/*
Code/settings.json
Code/device_connector/__pycache__/*
Code/device_connector/Libraries/*
Code/device_connector/mqtt_settings.json
Code/device_connector/settings.json
Code/camera/__pycache__/*
Code/camera/mqtt_settings.json
Code/camera/settings.json
Code/secret_key.txt
Code/firebase_account_key.json
Code/catalog/secret_key.txt
Code/catalog/.env
Code/catalog/settings.json
Code/reservation_manager/secret_key.txt
Code/reservation_manager/mqtt_settings.json
Code/reservation_manager/settings.json
Code/reservation_manager/firebase_account_key.json
Code/reservation_manager/Libraries
Code/data_analysis/mqtt_settings.json
Code/data_analysis/settings.json
Code/data_analysis/firebase_account_key.json
Code/data_analysis/Libraries
Code/disinfection_system/settings.json
Code/disinfection_system/mqtt_settings.json
Code/disinfection_system/Libraries
Code/thingspeak_adaptor/settings.json
Code/thingspeak_adaptor/mqtt_settings.json
Code/thingspeak_adaptor/Libraries
